{{#if currentUserId}}
  <nav class="navbar">
    <div class="nav-wrapper real-navbar">

      <div class="logoSection">
        <a href="/"><img src="https://png.icons8.com/office/80/000000/globe.png"></a>
      </div>

      <ul>
        <li>
          <a href="/logout" class="logoutBtn btn">Log out</a>
        </li>
        <li>
          <ul id="dropdown3" class="dropdown-content">
              <li><a href="/map">Map</a></li>
              <li><a href="/calendar">Calendar</a></li>
          </ul>
          <a class="btn dropdown-trigger" href="#!" data-target="dropdown3"><i class="material-icons dropdownIcon">view_module</i></a>
        </li>
      </ul>
    </div>
  </nav>

  <body class="body">
    <div class="row">
      <div class="col s12 intro center">

        <h2>Welcome {{currentName}}</h2>
        <a href="/map" class="StartBtn btn">Shall we?</a>

      </div>
    </div>
  </body>

{{else}}

  <body class="body">
    <div class="row">
      <div class="col s12 intro center">

        <h1>Build your Journey.</h1>

        <!-- <a class="waves-effect waves-light btn modal-trigger logInBtn" href="#login">log in</a>
        <div id="login" class="modal">
          <div class="modal-content">
            <h4>Log In</h4>
            <div class="row">
              <form action="/login" method="post" class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input name="emailL" id="emailL" type="email" class="validate">
                    <label for="emailL">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input name="passwordL" id="passwordL" type="password" class="validate">
                    <label for="passwordL">Password</label>
                  </div>
                </div>
                <button type="submit" class="modal-close waves-effect waves-green btn-flat">Log In</button>

              </form>
            </div>
          </div>
        </div> -->

        <!-- <a class="waves-effect waves-light btn modal-trigger signUpBtn" href="#signup">Sign up</a>
        <div id="signup" class="modal">
          <div class="modal-content">
            <h4>Sign Up</h4>
            <div class="row">
              <form action="/users" method="post" class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" name="firstName" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" name="lastName" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
                <button class="modal-close waves-effect waves-green btn-flat" type="submit">Sign Up</button>
              </form>
            </div>
          </div>
        </div> -->
        <!-- <a href="/map" class="StartBtn btn">Start</a> -->
        <a class="waves-effect waves-light btn modal-trigger StartBtn" href="#login">Start</a>
        <div id="login" class="modal">
          <div class="modal-content">
            <h4>Log In</h4>
            <div class="row">
              <form action="/login" method="post" class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input name="emailL" id="emailL" type="email" class="validate">
                    <label for="emailL">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input name="passwordL" id="passwordL" type="password" class="validate">
                    <label for="passwordL">Password</label>
                  </div>
                </div>
                <button type="submit" class="modal-close waves-effect waves-green btn-flat">Log In</button>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
{{/if}}
