<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- jquery for popup -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- jquery for sortable list -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!-- Google maps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwAFmpbAhD3Bwub3kDS1HgV1FM3zGldT0&libraries=places,geometry,drawing" async defer></script>

    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- search map -->
    <script type="text/javascript" src="/javascripts/searchMap.js"></script>
    <script type="text/javascript" src="/javascripts/marker.js"></script>
    <script type="text/javascript" src="/javascripts/polyline.js"></script>
    <!-- My stylesheet -->
    <link rel='stylesheet' href='/stylesheets/styleIndex.css'>
    <link rel="stylesheet" href='/stylesheets/styleMap.css'>

  </head>

  <!-- initialize the map -->
  <body onload="initAutocomplete()">

    <!-- <div class="">

    </div> -->
    {{#if currentUserId}}


    {{else}}

    <!-- Navbar -->
    <nav class="navbar">
      <div class="nav-wrapper real-navbar">

        <div class="logoSection">
          <a href="/"><img src="https://png.icons8.com/office/80/000000/globe.png"></a>
        </div>


          <ul>
              <!-- Modal LOG IN-->
              <li>
                <a class="waves-effect waves-light btn modal-trigger logInBtn" href="#login">log in</a>
                <div id="login" class="modal">
                  <div class="modal-content">
                    <h4>Log In</h4>
                    <div class="row">
                      <form action="/login" method="post" class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <input name="emailL" id="emailL" type="email" class="validate">
                            <label for="emailL">Email</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input name="passwordL" id="passwordL" type="password" class="validate">
                            <label for="passwordL">Password</label>
                          </div>
                        </div>
                        <button type="submit" class="modal-close waves-effect waves-green btn-flat">Log In</button>

                      </form>
                    </div>
                  </div>
                </div>
              </li>

              <!-- Modal SINGUP -->
              <li>
                <a class="waves-effect waves-light btn modal-trigger signUpBtn" href="#signup">Sign up</a>
                <div id="signup" class="modal">
                  <div class="modal-content">
                    <h4>Sign Up</h4>
                    <div class="row">
                      <form action="/users" method="post" class="col s12">
                        <div class="row">
                          <div class="input-field col s6">
                            <input id="first_name" name="firstName" type="text" class="validate">
                            <label for="first_name">First Name</label>
                          </div>
                          <div class="input-field col s6">
                            <input id="last_name" name="lastName" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate">
                            <label for="email">Email</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                          </div>
                        </div>
                        <button class="modal-close waves-effect waves-green btn-flat" type="submit">Sign Up</button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                  <ul id="dropdown2" class="dropdown-content">
                      <li><a href="/map">Map</a></li>
                      <li><a href="/calendar">Calendar</a></li>
                  </ul>
                    <a class="btn dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons dropdownIcon">view_module</i></a>
              </li>
          </ul>
        {{/if}}
      </div>
    </nav>

    {{{body}}}


    <script type="text/javascript">

      // modal
      $(document).ready(function(){
        $('.modal').modal();
      });

      // dropdown
      $('.dropdown-trigger').dropdown();

      // input text in calendar
      $(document).ready(function() {
        $('input#input_text, textarea#textarea2').characterCounter();
      });


    // discovery feature
      document.addEventListener('DOMContentLoaded', function() {
        var options = {};

        // load fab
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, options);

        // load feature discovery
        var elems = document.querySelectorAll('.tap-target');
        var instances = M.TapTarget.init(elems, options);

        // show feature discovery
        instances[0].open();
      });

      function discover() {
      var elem = document.querySelectorAll('.tap-target');
      console.log('elem', elem);

      var instance = M.TapTarget.getInstance(elem[0]);
      console.log('getInstance', instance);

      instance.open();
      }

    </script>

  </body>
</html>
