{{#if currentUserId}}

  <nav class="navbar">
    <div class="nav-wrapper real-navbar">

      <div class="logoSection">
        <a href="/"><img src="https://png.icons8.com/office/80/000000/globe.png"></a>
      </div>

      <ul>
        <li>
          <a href="/logout" class="logoutBtn btn">Log out</a>
        </li>
        <li>
          <button onclick="saveMarkers()" type="button" class="saveBtn btn" name="save">Save</button>
        </li>
        <li>
          <ul id="dropdown3" class="dropdown-content">
              <li><a href="/map">Map</a></li>
              <li><a href="/calendar">Calendar</a></li>
          </ul>
          <a class="btn dropdown-trigger" href="#!" data-target="dropdown3"><i class="material-icons dropdownIcon">view_module</i></a>
        </li>
        <!-- <li> -->

          <!-- Element Showed -->
          <!-- <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a> -->

          <!-- Tap Target Structure -->
          <!-- <div class="tap-target" data-target="menu">
            <div class="tap-target-content">
              <h5>Title</h5>
              <p>A bunch of text</p>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>


  <!-- style buttons
  hand: top: 4px left: 120px
  marker: top: 4px left: 120px -->

{{/if}}

<input id="pac-input" class="controls" type="text" placeholder="Search">
<div id="map">

</div>

<!-- Element Showed -->
<div class="fixed-action-btn">
  <a id="menu" onclick="discover()" class="waves-effect waves-light btn btn-floating infoBtn" ><i class="material-icons">info</i></a>
</div>

<!-- Tap Target Structure -->
<div class="tapTargetGeneral">
  <div class="tap-target yellow darken-1" data-target="menu">
    <div class="tap-target-content">
      <div class="">
        <h5>READ ME</h5>
      </div>
      <div class="">
        <p>Use the hand icon in the toolbar underneath the search bar to drop pins on any location</p>
        <p>Use the pin icon to draw a path in-between each location by clicking the first location and after clicking the second location.</p>
        <p>Delete lines by clicking on them.</p>
        <p>DON'T exit without saving.</p>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(".gmnoprint").each(function(){
    // ID the Hand button
    let newObj = $(this).find("title='Ajouter un repère'");
    newObj.attr('id', 'btnStop');

    // ID the Marker button
    newObj = $(this).find("[title='Ajouter un repère']");
    newObj.attr('id', 'btnMarker');

    // ID the toolbar
    newObj.parent().parent().attr("id", "btnBar");

  });

  // var unsaved = false;
  //
  // $(":input").change(function(){ //trigers change in all input fields including text type
  //     unsaved = true;
  // });
  //
  // function unloadPage(){
  //     if(unsaved){
  //         return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
  //     }
  // }
  //
  // window.onbeforeunload = unloadPage;
</script>
