<!-- <form action="/save" method="post">
  <button type="submit" class="btn" name="save">Save</button>
</form> -->

  <button onclick="saveMarkers()" type="button" class="btn" name="save">Save</button>


<!-- how do i make this be in the navbar?????? -->

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map">

</div>
