.infoSearchIcon{
  color: red;
}

.saveBtn{
  margin: 0 15px;
  background-color: #f5f6f3;
  color: #3a3a3a;
}

.saveBtn:hover{
  background-color: #f5f6f3;
}

.saveBtn:focus{
  background-color: #f5f6f3;
}

.fixed-action-btn{
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.tap-target-content {
  font-family: 'Fira Sans', sans-serif;
}

.discoveryContent p {
  margin: 10px 0;
}

.discoverySave {
  margin-left: 10px;
  background-color: #f5f6f3;
  color: #3a3a3a;
}

.discoverySave:hover, .discoverySave:focus{
  background-color: #f5f6f3;
}

.longP {
  width: 300px;
}

.dropdown-content li>a {
  color: #3a3a3a;
}

.searchLocation{
  font-size: 2em;
  margin: 10px;
}

.addBtn{
  padding: 0 10px;
  margin: 10px;
}

.infoBtn{
  background-color: #aadaff;
}

.infoBtn:hover{
  background-color: #aaffff;
}

.input-field{
  width: 500px;
}

.infowindowBtn{
  display: flex;
}

.infoForm{
  margin: 0;
}

.deleteMarker{
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.deleteMarkerImg{
  height: 20px;
  position: relative;
  top: 10px;
  right: 1px;

}

.deletePolyline{
  margin-bottom: 1.3px;
}
